*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0;
}
ul {
    list-style: none;
    display: flex;
    gap:40px;
    align-items: center;
}
a{
    text-decoration: none;
    color: ;
}
nav{
background-color: #212121;
}