*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* Global rules */
ul {
    list-style: none;
    display: flex;
    gap:40px;
    align-items: center;
    justify-content: center;
}
a{
    text-decoration: none;
    color: #0D7377;
}
nav{
background-color: #212121;
height: 56px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.active{
    color: #14FFEC;
}
header{
    background-image: url();
    height: calc(100vh - 56px);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background: url() no-repeat scroll center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
header h1{color: #14FFEC;}
header p{color: #0D7377;}